.datePicker_wrapper{
  position: relative;
}

.datePicker_icon{
  background: url('../../../assets//icons/date_range_black_24px.svg');
  width: 14px;
  height: 16px;
  fill: #999daa;
  position: absolute;
  top: 5px;
  left: 125px;
  background-size: cover;
  transition: all .2s linear;
}
.datePicker_icon:hover{
  fill: #838a9a;
}

.date_label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form-control{
  font-size: 17px;
  border: none;
  font-weight: bold;
  line-height: 1.529;
  width: 120px;
  color: var( --text-color-black);
  font-family: Verdana, sans-serif;
  letter-spacing: 0.02em;
  transition: all .2s linear;
  cursor: pointer;
}

.form-control:focus{
  outline: none;
}


@media (min-width:768px),
screen and (orientation: landscape) {
  .datePicker_wrapper{
margin-bottom: 58px ;
  }
  .form-control{
    font-size: 35px;
    line-height: 1.071;
    width: 235px;
  }
  .datePicker_icon{
    top: 15px;
    left: 245px;
  }
  .datePicker_icon{
    width: 18px;
    height: 20px;
    fill: #999daa;
  }

}
