.addProduct_wrapper{
  display: flex;
  flex-flow: column wrap;
  padding: 66px 0 0;
  /* position: relative; */
}

.inputWeight_wrapper{
  position: relative;
  margin-bottom: 130px;
}

.inputWeight_label{
  position: absolute;
  font-size: 13px;
  font-family: "Verdana";
  color: var(--text-color-grey);
  font-weight: 700;
  line-height: 1.2;
  padding: 0 0 0 5px;
  transition: all .2s linear;
  top:2px;
}

.inputHasValue{
  top: -14px;
  font-size: 10px;
}

.inputProduct_weight::-webkit-outer-spin-button,
.inputProduct_weight::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputProduct_weight{
  border: none;
  font-size: 13px;
  font-family: "Verdana";
  color: var(--text-color-black);
  font-weight: 700;
  line-height: 1.2;
  width: 100%;
  padding: 0 0 10px 5px;
  background: transparent;
  border-bottom: 1px solid var(--input-line-color);
  border-radius: 0;
}

.inputProduct_weight:focus,
.inputProduct_weight:active{
  outline: none;
}

.add_btn{
  width: 175px;
  height: 42px;
  background-color: var(--button-color);
  box-shadow: 0px 6px 10px 0px rgba(252, 132, 44, 0.33);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s linear;
  font-family: Verdana, sans-serif;
  color: var(--text-color-white);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.857;
  display: block;
  margin: 0 auto;
}
.add_btn:hover,
.add_btn:focus {
  background-color: var(--button-color-hover)
}
.add_btn:focus{
  outline: none;
}

.notAllowed_Wrapper{
  position: relative;
  bottom: 20px;
}

.notAllowed{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 320px;
  left: 50%;
  top: 50%;
  font-family: Verdana, sans-serif;
  color: var(--text-color-orange);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.857;
}

@media (min-width:768px),
screen and (orientation: landscape){
  .addProduct_wrapper{
    display: flex;
    flex-flow: row;
    margin-bottom: 40px;
    padding: 0;
  }

  .inputWeight_wrapper{
    margin: 0 76px 0 0;
    width: 95px;
  }

  .inputWeight_label{
    top: 12px;
    padding: 0 0 0 30px;
  }

  .inputHasValue{
    top: 0;
    font-size: 10px;
  }

  .inputProduct_weight{
    width: 95px;
    position: absolute;
    padding: 0 0 19px 30px;
    top: 12px;
  }

  .add_btn{
    width: 50px;
    height: 50px;
    padding: 0;
    font-family: none;
    font-size: 0;
    line-height: 1;
    margin: 0;
  }
.addBtn_icon {
  fill: var(--button-icon-color);
}
.addBtn_icon:hover {
  fill: var(--button-icon-color-hover)
}

.container{
  width:231px
}

.notAllowed_Wrapper{
  bottom: 50px;
  right: -30px;
}

.notAllowed{
  width: 120px;
  color: var(--text-color-orange);
  font-size: 10px;
  line-height: 1.2;
}

}
